asgiref==3.7.2
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.2
django-environ==0.11.2
djangorestframework==3.14.0
idna==3.7
isort==5.13.2
pytz==2024.1
requests==2.32.3
sqlparse==0.4.4
typing_extensions==4.12.2
urllib3==2.2.2
